<div class="container">
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">제목</label>
			<input name="title" type="text" class="form-control" placeholder="제목을 입력해주세요">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">내용</label>
			<textarea name="content" rows="4" cols="50"></textarea>
		</div>
		<button type="submit" class="btn btn-default">전송</button>
	</form>
	<div class="post">
    

    <div class="replies">
      <label>Reply</label>
      <input type="hidden" value="<%=p.id%>" name="id_of_post">
			<input type="text" name="reply_content" id="reply_<%=p.id%>" placeholder="Reply">
      <button value="<%=p.id%>" class="btn btn-default reply_submit" type="submit" value="Submit">Submit</button>
    </div>
	</div>
</div>

<script>
  $(".reply_submit").click.(function(){
    post_id = this.value
    reply_content = $("#reply_" + post_id).val()
    $.ajax({
      method: "POST",
      url: "/post/reply_write",
      data: { reply_content :reply_content, id_of_post :post_id },


    })



  })
</script>
